.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 44px;
    background-color: greenyellow;
    // .txt-title {
    //     text-align: center;
    // }
}

.fix-bottom {
    margin-bottom: 50px;
}